.button-wrapper {
    text-align: center;
  }
  
  .button-wrapper>button {
    padding: 8px;
    margin-top: 10px
  }
  
  .form-control{
      background-color: rgba(0, 0, 0, 0.1);
      border-top-style: none;
      border-left-style: none;
      border-right-style: none;
      border-radius: 0;
      color: #fff;
  }
  
  .post-quote{
      text-align: center;
  }